<ul>
    <!-- Db data -->
    <li id="set-datas" class="selected">
        <h2 (click)="displaySettings('datas')">💾 Datas</h2> 
        <form id="form-datas" class="hidden">
            <input type="file" name="json-data-upload" id="json-data-upload" accept="text/json">
            <button type="button" (click)="uploadDb()" >Upload</button>
            <i>- or -</i>
            <button type="button" (click)="downloadDb()">Download</button>
            <i>- or -</i>
            <button type="button" class="warn" >Delete All datas</button>
        </form>
    </li>

    <!-- History datas -->
    <li id="set-history">
        <h2 (click)="displaySettings('history')">🕓 History</h2> 

        <form id="form-history" class="hidden">
            <input type="number" name="history-entries" id="history-entries" min="0" max="100" placeholder="History max saved: ex: 30" defaultValue="25" />
            <button type="button" (click)="changeMaxHistory()">Modify</button>
            <i>-- or --</i>
            <button type="button" class="warn" (click)="deleteCurrentHistory()">Delete current history</button>
        </form>
    </li>
    
    <!-- Dark/Light or colorblind (daltonien) -->
    <li id="set-theme">
        <h2 (click)="displaySettings('theme')">🎨 Theme</h2> 
    </li>
    
    <!-- Load classic font or font for dyslexics -->
    <li id="set-font">
        <h2 (click)="displaySettings('font')">🔤 Font</h2> 
    </li>
    
    <li id="set-langage">
        <h2 (click)="displaySettings('langage')">🌐 Langage</h2>
    </li>

    <li id="set-about" class="selected">
        <h2>🧠 About</h2>
        <p><b>Version :</b>&nbsp;<i>{{ version }}</i></p>
        <p><b>GitHub :</b>&nbsp;<i><a href="https://github.com/FunkyDuck/HTTPotamus" target="_blank">HTTPotamus</a></i></p>
        <p><b>Developed by:</b>&nbsp;<i><a href="https://github.com/FunkyDuck" target="_blank">Loïc <span>`Ginji`</span> Jacques</a></i></p>
        <p><strong>HTTPotamus</strong> is a lightweight tool for testing and organizing your HTTP requests, developed with passion.<br>
        <i>HTTP requests, served hot.</i></p>
    </li>
</ul>
