<form id="url-search">
    <div class="select-wrapper">
        <select [(ngModel)]="method" name="method">
            <option *ngFor="let m of methods" [value]="m" [class]="m.toLowerCase()">{{ m }}</option>
        </select>
    </div>
    <input type="url" name="url" [(ngModel)]="url" placeholder="https://api.sampleapis.com/beers/ale" (keyup)="sendRequest($event)">
    <button type="button" (click)="sendRequest()">Slurp !</button>
</form>

<!-- Keep AddToCollectionModal between the two froms - moving it break the layout when the modal shows up -->
@if (displayCollectionModal) {
    <app-add-to-collection-modal [data]="setDataForModal()" (closed)="onModalClosed()" />
}

<section>
    <div>
        <button id="keyval-btn" (click)="displayForm('keyval')" class="active">Key/Value</button>
        <button id="json-btn" (click)="displayForm('json')">Json</button>
    </div>

    <div>
        <button (click)="displayCollectionModal = true">🥘 {{ 'EDITOR.BTN.ADD' | translate}}</button>
        <button (click)="getInstant()">🍜 {{ 'EDITOR.BTN.RAMEN' | translate}}</button>
    </div>
</section>

<form id="keyval-form">
    @for(row of arrayForm; track row; let idx = $index, last = $last) {
        <fieldset id="field-{{idx}}">
            <input type="range" min="0" max="1" id="slider-{{ idx }}" name="slider-{{ idx }}" [value]="row.slider" [ngClass]="row.slider == 1 ? 'range-blue' : 'range-grey'" class="styled-range" (click)="updateSlider(idx)">
            <input type="text" id="key-{{ idx }}" name="key-{{ idx }}" placeholder="key" [value]="row.key" (blur)="addRow($event, idx, last)">
            <input type="text" id="value-{{ idx }}" name="value-{{ idx }}" placeholder="value" [value]="row.value" (blur)="addRow($event, idx, last)"> 
            <button type="button" (click)="deleteRow(idx)">❌</button>
        </fieldset>
    }
</form>

<form id="json-form" class="hidden">
    <textarea id="field-json" (keyup)="parseJson()" placeholder="{ 'key': 'value' }" >{{ jsonForm }}</textarea>
</form>