@use 'colors';

form:first-child {
    width: 70dvw;
    height: 10dvh;
    margin: auto;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    line-height: 10dvh;
    align-items: center;

    select, input, button {
        box-sizing: border-box;
        height: 3.5dvh;
        font-size: 1rem;
        border: 1px solid colors.$green-main;
        outline: none;
        color: colors.$dark-secondary;
        font-weight: 500;
    }

    .select-wrapper {
        position: relative;
        display: inline-block;

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 10dvw;
            border: 1px solid colors.$green-main;
            border-right: none;
            border-radius: 8px 0 0 8px;
            padding: 0 2dvw 0 0.5dvw;
            height: 3.5dvh;
            font-size: 1rem;
            background: colors.$grey-secondary;
            color: colors.$dark-secondary;
            font-weight: 500;

            option {
                .get {
                    color: colors.$green-secondary;
                }

                .post {
                    color: colors.$blue;
                }

                .put {
                    color: colors.$orange;
                }

                .delete {
                    color: colors.$red;
                }
            }
        }

        &::after {
            content: "▼";
            position: absolute;
            top: 50%;
            right: 0.75dvw;
            transform: translateY(-50%);
            pointer-events: none;
            font-size: 0.9rem;
            color: colors.$dark-secondary;
        }
    }


    input {
        width: 40dvw;
        flex: 1;
        border-right: none;
        border-left: none;
        padding: 0 0.75dvw;
    }

    button {
        width: 10dvw;
        border-left: none;
        border-radius: 0 8px 8px 0;
        padding: 0 1dvw;
        cursor: pointer;
        background: colors.$grey-secondary;
        transition: background 0.2s ease;

        &:hover {
            background: darken(colors.$grey-main, 20%);
        }
    }
}

form:last-child {
    width: 70dvw;
    height: 30dvh;
    margin: auto;
    padding: 0;
    margin-left: -13dvw;
    line-height: 3.5dvh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: scroll;
    
    fieldset {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    input, button {
        box-sizing: border-box;
    }

    input {
        appearance: none;
        border: none;
        border-right: 1px solid colors.$grey-main;
        width: 15dvw;
        height: 3.5dvh;
        
        &[type=text] {
            padding: 0.1dvh 0.25dvw;

            &:last-child {
                border: none;
                width: 25dvw;
            }
        }
    }
    
    button {
        height: 3.5dvh;
        margin: 0;
        border: none;
        border-radius: 0 8px 8px 0;
        background:  colors.$grey-secondary;
        transition: background 0.2s ease;
        
        &:hover {
            background: darken(colors.$grey-main, 20%);
        }
    }

    /* Base styling for range input */
    .styled-range {
    appearance: none;
    width: 2dvw;
    height: 3dvh;
    margin: 0.25dvh 0.5dvw;
    background: colors.$dark-main;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid colors.$grey-secondary;

    /* Track - Chrome */
    &::-webkit-slider-runnable-track {
        height: 3dvh;
        border-radius: 8px;
    }

    /* Track - Firefox */
    &::-moz-range-track {
        height: 3dvh;
        border-radius: 8px;
    }

    /* Thumb - Chrome */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1.25dvw;
        height: 3dvh;
        border-radius: 8px;
        // border: 16px solid colors.$grey-secondary;
        background-color: currentColor;
        // margin-top: -1.25dvh; /* Center the thumb */
    }
    
    /* Thumb - Firefox */
    &::-moz-range-thumb {
        width: 1.25dvw;
        height: 3dvh;
        border-radius: 8px;
        // border: 16px solid colors.$grey-secondary;
        background-color: currentColor;
        border: none;
        // margin-top: 1.25dvh; /* Center the thumb */
    }
    }

    /* Color variants */
    .range-blue {
    color: colors.$blue;
    border: 1px solid colors.$grey-secondary;
}

.range-grey {
    color: colors.$grey-secondary;
    border-radius: 8px !important;
    }

}