@use 'colors';

ul {
    list-style: none;
    width: 18dvw;
    margin: 1dvh -1dvw;

    li {
        display: flex;
        flex-direction: column;

        button {
            height: 3.5dvh;
            width: 18dvw;
            margin: 0;
            margin-bottom: 0.5dvh;
            border: none;
            border-radius: 8px;
            font-weight: 500;
            font-size: 1.25rem;
            background:  colors.$grey-secondary;
            transition: background 0.2s ease;
        }

        ul {
            margin: 0;
            // margin-left: dvw;

            li {
                // font-size: 1.125rem;
                // margin: 0.5dvh 0;
                // // margin-left: -2dvw;
                display: flex;
                flex-direction: row;
                cursor: pointer;

                b {
                    font-weight: bold;
                    font-size: 1.125rem;
                    font-family: 'Audiowide';
                    // text-align: right;
                    display: inline-block;
                    width: 7.5dvw;
                    
                    &.get {
                        color: colors.$green-secondary;
                        // background: colors.$green-secondary-light;
                    }
                    
                    &.post {
                        color: colors.$blue;
                        // background: colors.$blue-light;
                    }
                    
                    &.put {
                        color: colors.$orange;
                        // background: colors.$orange-light;
                    }
                    
                    &.delete {
                        color: colors.$red;
                        // background: colors.$red-light;
                    }
                }
                
                i {
                    display: inline-block;
                    margin-left: 0.5dvw;
                    // text-align: right;
                    height: 1.5dvh;
                    width: 12.5dvw;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                }
            }
        }
    }
}