@if (displayModal) {
    <app-add-collection-modal (closed)="onModalClosed()" />
}

@if (displayManageCollection && selectedCollection) {
    <app-manage-collection-modal [collection]="selectedCollection" (closed)="onModalClosed()" />
}

<ul>
    <li>
        <button type="button" title="❓ Create collections for your requests" (click)="displayModal = true">Create Flavor</button>
    </li>
    
    @for (c of collections; track c) {
        <li>
            <h2 (click)="selectedCollection = c; displayManageCollection = true"><img src="assets/icons/ico_folder.svg" class="ico" /> {{ c.name }}</h2>
            
            <ul>
                @for (r of c.requests; track r) {
                    <li (click)="setRequestEditor(r)"><b class="{{ r.method.toLowerCase() }}">{{ r.method }}</b> <i>{{ formatTitle(r.url) }}</i></li>
                }
            </ul>
        </li>
    }
</ul>