$dark-main: #1a2323;
$dark-secondary: #1a0f2f;
$light-main: #fbeec6;
$green-main: #5e8182;
$grey-main: #7a9e9f;
$grey-secondary: #a0baba;
$purple: #4c2a85;
$purple-light: #693BBA;
$brown: #9f7a69;
$yellow: #f2c94c;
$blue: #3b5dba;
$blue-light: #92a6dd;
$green-secondary: #48ba3c;
$green-secondary-light: #9adc93;
$orange: #d68344;
$orange-light: #edc8ab;
$red: #ba3c3c;
$red-light: #dc9393;

$grey-code-editor: #272822;

$alpha-25-purple: #4c2a8540;
$alpha-50-purple: #4c2a8580;
$alpha-75-purple: #4c2a85bf;