<section>
    <div>
        <h1>{{ 'COLLECTION.MODAL.DELETE.TITLE' | translate }}</h1>
        <p><b>{{ 'COLLECTION.MODAL.DELETE.WARN' | translate }}</b><br><i>{{ 'COLLECTION.MODAL.DELETE.HINT' | translate }}</i></p>
        <span>
            <button type="button" (click)="close(true)">{{ 'COLLECTION.MODAL.DELETE.BTN.YES' | translate }}</button>
            <button type="button" (click)="close(false)">{{ 'COLLECTION.MODAL.DELETE.BTN.NO' | translate }}</button>
        </span>
    </div>
</section>
