<nav>
    <h2>Request History</h2>
    <ul>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
        <li>API GET 1</li>
        <li>API GET 2</li>
        <li>API POST 1</li>
        <li>API DELETE 1</li>
        <li>API POST 2</li>
        <li>API GET 3</li>
        <li>API GET 4</li>
        <li>API POST 3</li>
    </ul>
</nav>