<section>
    <form>
        <h1>{{ 'EDITOR.MODAL.TITLE' | translate}}</h1>
        <select (change)="setCollection($event)">
            @for (c of collections; track c) {
                <option value="{{ c.id }}">{{ c.name }}</option>
            }
        </select>
        <div>
            <button type="button" (click)="saveToCollection()">🥡 {{ 'EDITOR.MODAL.BTN.SAVE' | translate}}</button>
            <button type="button" class="red" (click)="onClose()">✖️ {{ 'EDITOR.MODAL.BTN.STOP' | translate}}</button>
        </div>
    </form>
</section>