<nav>
    <ul>
        <li id="nav-history" (click)="updatePage('history')"><img src="assets/icons/ico_time.svg" class="ico-xl" /></li> <!-- History -->
        <li id="nav-collection" (click)="updatePage('collection')"><img src="assets/icons/ico_floppydisk.svg" class="ico-xl" /></li> <!-- Saved requests -->
        <li id="nav-settings" (click)="updatePage('settings')"><img src="assets/icons/ico_gear.svg" class="ico-xl" /></li> <!-- Settings -->
    </ul>
    <h2>{{ setTitle(view) | translate }}</h2>
</nav>

@if (view === 'history') {
    <app-request-history  />
}

@if (view === 'collection') {
    <app-collections />
}

@if (view === 'settings') {
    <app-settings  />
}