<nav>
    <ul>
        <li id="nav-history" (click)="updatePage('history')" class="active">🕘</li> <!-- History -->
        <li id="nav-collection" (click)="updatePage('collection')">💾</li> <!-- Saved requests -->
        <li id="nav-settings" (click)="updatePage('settings')">⚙️</li> <!-- Settings -->
    </ul>
    <h2>{{upperFirstChar(view)}}</h2>
</nav>

@if (view === 'history') {
    <app-request-history  />
}

@if (view === 'collection') {
    <app-request-saved  />
}

@if (view === 'settings') {
    <app-settings  />
}