<nav>
    <ul>
        <li id="nav-history" (click)="updatePage('history')">🕘</li> <!-- History -->
        <li id="nav-collection" (click)="updatePage('collection')" class="active">💾</li> <!-- Saved requests -->
        <li id="nav-settings" (click)="updatePage('settings')">⚙️</li> <!-- Settings -->
    </ul>
    <h2>{{upperFirstChar(view)}}</h2>
</nav>

@if (view === 'history') {
    <app-request-history  />
}

@if (view === 'collection') {
    <app-collections />
}

@if (view === 'settings') {
    <app-settings  />
}