@if (displayDelete && selectedRequest) {
    <app-delete-collection-modal (closed)="onModalClosed($event)" />
}

<section>
    <div>
        <h1><p>Manage <i>{{ collection?.name }}</i> Flavor</p> <button (click)="deleteCollection(collection)" >Delete it</button></h1>

        <ul>
            @for (r of collection.requests; track r) {
                <li (click)="displayRequest(r)">
                    <span>
                        <b class="{{ r.method.toLowerCase() }}">{{ r.method }} </b>
                        <i> {{r.url}}</i>
                    </span>
                    <button class="trash" (click)="deleteRequest()">X</button>
                </li>


            }
        </ul>

        @if (selectedRequest) {
            <article id="show-request">
                <h3>
                    <span>
                        <b class="{{selectedRequest.method.toLowerCase()}}">{{selectedRequest.method}} </b> 
                        <i> {{ selectedRequest.url}}</i>
                    </span>
                    <button class="red" (click)="deleteRequest()">Delete</button>
                </h3>
                <pre id="format-pretty" class="selected"><code class="language-json" [innerHTML]="highlitedJson"></code></pre>
            </article>
        }

        <article id="buttons">
            <button type="button" class="red" (click)="close()">Stop Cooking 🔪</button>
        </article>
    </div>
</section>
